.png1{
    
    width: 10%;
    height: 10%;
    position: relative;
    border-radius:25%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  filter:drop-shadow(16px 7px 8px #eb3a3a);
  animation-fill-mode: forwards;
    
}
    .animate-pulse{
       
        color: #0f0f0f;
       
    }
    .btn a:hover {
        color: #1363DF;
    }